Intro

In [1]:
print("Hello, World!")

Hello, World!

Get Started

In [2]:
import sys

print(sys.version)

3.12.1 (tags/v3.12.1:2305ca5, Dec  7 2023, 22:03:25) [MSC v.1937 64 bit (AMD64)]

Syntax

In [3]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

Comments

In [6]:
#This is a comment

print("Hello, World!") #This is a comment

#This is a comment
#written in
#more than just one line

'''
This is a comment
written in
more than just one line
'''

Hello, World!

'\nThis is a comment\nwritten in\nmore than just one line\n'

Python Variables

In [7]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

Variable Names

In [14]:
#Legal Names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [9]:
# Illegal Names
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (1328824138.py, line 11)

Assign Multiple Values

In [11]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [12]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [13]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables

In [15]:
x = "Python is awesome"
print(x)

Python is awesome

In [16]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [17]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Global Variables

In [18]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [19]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [20]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Python Data Types

In [21]:
x = 5
print(type(x))

<class 'int'>

Python Numbers

In [22]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [23]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [24]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [25]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [26]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [27]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Python Casting

In [28]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [29]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [30]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

Python Strings

In [31]:
print("Hello")
print('Hello')

Hello
Hello

In [32]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [33]:
a = "Hello"
print(a)

Hello

In [34]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [35]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Slicing Strings

In [36]:
b = "Hello, World!"
print(b[2:5])

llo

In [37]:
b = "Hello, World!"
print(b[:5])

Hello

In [38]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [39]:
b = "Hello, World!"
print(b[-5:-2])

orl

Modify Strings

In [40]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [41]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [42]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [43]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [44]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

Concatenate Strings

In [45]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [47]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Format Strings

In [48]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [50]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [49]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [51]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [52]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Escape Character

In [53]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [55]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.